
<div class="modal fade" id="WriterAdd" tabindex="-1" role="dialog" aria-labelledby="WriterAdd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WriterAdd">Yeni Yazar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("WriterAdd", "Writer", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Yazar adı")
                        <input class="form-control" name="WriterName" />
                        <br /><br />
                        @Html.Label("Yazar soyadı")
                        <input class="form-control" name="WriterSurname" />
                        <br /><br />

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
                            <button type="submit" class="alertOk btn btn-primary">Kaydet</button>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>