@*@model Entitylayer.Concreate.Category*@

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yeni Kategori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Kategori adı")
                        <input class="form-control" name="CategoryName" />

                        @*@Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })*@
                        @*@Html.ValidationMessageFor(x => x.CategoryName)*@
                        <br /><br />

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>


@*<div class="modal fade" id="categoryadd">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="addCategoryLabel">Kategori ekle</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">

                <form action="CategoryAdd">
                    <div class="form-group">
                        <label asp-for="CategoryName"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Kapat</button>
                <button class="btn btn-primary" type="button" data-save="modal">Kaydet </button>
            </div>
        </div>
    </div>
</div>*@

