
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Özet Kitap</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="~/Temalar/Tema2/templatemo_539_simple_house/css/all.min.css" rel="stylesheet" />
    <link href="~/Temalar/Tema2/templatemo_539_simple_house/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

    <div class="container">
        <!-- Top box -->
        <!-- Logo & Site Name -->
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="/Temalar/Tema2/templatemo_539_simple_house/img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="/Temalar/Tema2/templatemo_539_simple_house/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Simple House</h1>
                                <h6 class="tm-site-description">new restaurant template</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="~/Book/BookIndex" class="tm-nav-link">Ana Sayfa</a></li>
                                <li class="tm-nav-li"><a href="about.html" class="tm-nav-link">Hakkımızda</a></li>
                                <li class="tm-nav-li"><a href="~/Login/LoginIndex" class="tm-nav-link">Gİriş</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">About Simple House</h2>
                <p class="col-12 text-center">
                    This is about page of simple house template.
                    You can modify and use this HTML template for your website. Total 3 HTML pages included in this template. Header image has a parallax effect.
                </p>
            </header>

            @RenderBody()
            <div class="tm-container-inner tm-featured-image">
                <div class="row">
                    <div class="col-12">
                        <div class="placeholder-2">
                            <div class="parallax-window-2" data-parallax="scroll" data-image-src="/Temalar/Tema2/templatemo_539_simple_house/img/about-05.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-container-inner tm-features">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="tm-feature">
                            <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
                            <p class="tm-feature-description">Donec sed orci fermentum, convallis lacus id, tempus elit. Sed eu neque accumsan, porttitor arcu a, interdum est. Donec in risus eu ante.</p>
                            <a href="index.html" class="tm-btn tm-btn-primary">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tm-feature">
                            <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
                            <p class="tm-feature-description">Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit. Nam sed suscipit odio. Morbi in dolor finibus, consequat nisl eget.</p>
                            <a href="index.html" class="tm-btn tm-btn-success">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tm-feature">
                            <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
                            <p class="tm-feature-description">Morbi in dolor finibus, consequat nisl eget, pretium nunc. Maecenas pretium rutrum molestie. Duis dignissim egestas turpis sit.</p>
                            <a href="index.html" class="tm-btn tm-btn-danger">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </main>

        <footer class="tm-footer text-center">
            <p>
                Copyright &copy; 2020 Simple House

                | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
            </p>
        </footer>
    </div>
    <script src="~/Temalar/Tema2/templatemo_539_simple_house/js/jquery.min.js"></script>
    <script src="~/Temalar/Tema2/templatemo_539_simple_house/js/parallax.min.js"></script>
</body>
</html>